@charset "UTF-8";
.carrossel{
    width: 500px;
    height: 300px;

    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.carrossel-imagens{
    display: flex;
    animation: slide 15s infinite;
}

.carrossel-imagens img{
    width: 500px;
    height: 300px;
    flex-shrink: 0; /* Evita que as imagens sejam comprimidas */
}

/* Animação para o carrossel */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(-100%); } /* Move para a segunda imagem */
    40% { transform: translateX(-200%); } /* Move para a terceira imagem */
    60% { transform: translateX(-300%); } /* Move para a quarta imagem */
    80% { transform: translateX(-400%); } /* Move para a quinta imagem */
    100% { transform: translateX(-500%); }  /* Vai da quinta imagem pra primeira imagem */
    0% { transform: translateX(0%); }

}

.carrossel-manga{
    width: 300px;
    height: 500px;

    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.carrossel-manga-imagens{
    display: flex;
    animation: slide 15s infinite;
}

.carrossel-manga-imagens img{
    width: 300px;
    height: 500px;
    flex-shrink: 0; /* Evita que as imagens sejam comprimidas */
}

/* Animação para o carrossel */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(-100%); } /* Move para a segunda imagem */
    40% { transform: translateX(-200%); } /* Move para a terceira imagem */
    60% { transform: translateX(-300%); } /* Move para a quarta imagem */
    80% { transform: translateX(-400%); } /* Move para a quinta imagem */
    100% { transform: translateX(-500%); }  /* Vai da quinta imagem pra primeira imagem */
    0% { transform: translateX(0%); }

}
/*=========================
\    parte do animes-page  |
=========================*/
#animes-page body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #200707;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    padding: 0px;
    max-width: 1540px;
    margin: 5px;
}

.gallery-item {
    background-color: #1c84b4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s 
    ease;
    padding: 8px;
}

.gallery-item img {
    
    display: block;
    width: 500px;
    height: 300px;
    object-fit: cover; /* Garante que a imagem preencha o contêiner */
    flex-shrink: 0;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item .info {
    padding: 15px;
}

.gallery-item .info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.gallery-item .info p {
    margin: 8px 0 0;
    font-size: 14px;
    color: #666;
}