@charset "UTF-8";
/*  =================
    \PÁGINA INICIAL\
    ================  */
h1{

    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 4px 6px rgba(2, 86, 196, 0.733);
    color: var(--cor2);
}

h2{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(5, 125, 194);
}

h2 > a{
    color: var(--cor1);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carrossel{
    width: 500px;
    height: 300px;

    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.carrossel-imagens{
    display: flex;
    animation: slide 15s infinite;
}

.carrossel-imagens img{
    width: 500px;
    height: 300px;
    flex-shrink: 0; /* Evita que as imagens sejam comprimidas */
}

/* Animação para o carrossel */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(-100%); } /* Move para a segunda imagem */
    40% { transform: translateX(-200%); } /* Move para a terceira imagem */
    60% { transform: translateX(-300%); } /* Move para a quarta imagem */
    80% { transform: translateX(-400%); } /* Move para a quinta imagem */
    100% { transform: translateX(-500%); }  /* Vai da quinta imagem pra primeira imagem */
    0% { transform: translateX(0%); }

}

.carrossel-manga{
    width: 300px;
    height: 500px;

    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.carrossel-manga-imagens{
    display: flex;
    animation: slide 15s infinite;
}

.carrossel-manga-imagens img{
    width: 300px;
    height: 500px;
    flex-shrink: 0; /* Evita que as imagens sejam comprimidas */
}

/* Animação para o carrossel */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(-100%); } /* Move para a segunda imagem */
    40% { transform: translateX(-200%); } /* Move para a terceira imagem */
    60% { transform: translateX(-300%); } /* Move para a quarta imagem */
    80% { transform: translateX(-400%); } /* Move para a quinta imagem */
    100% { transform: translateX(-500%); }  /* Vai da quinta imagem pra primeira imagem */
    0% { transform: translateX(0%); }

}

/*=============================
\    parte da variaveis de cor|
=============================*/

:root{
    --corfundo: #001e31;
    --cor1: #8bcef5;
    --cor2: #009bf5;
    --cor3: #0c31a0;
    --cor4: #0f276e;
    --cor5: #0b1b4d;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


/*  ============================================
    \parte do animes,series e filmes-page caixa|
    ===========================================   */
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--corfundo);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 5px;
    max-width: 1350px;
    margin: auto;
    
}

.gallery-item {
    background-color: var(--cor5);
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s 
    ease;
    padding: 2px 2px 5px 2px;
    box-shadow: 1px 2px 2px black;
}

.gallery-item img {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 190px;
    object-fit: cover; /* Garante que a imagem preencha o contêiner */
    flex-shrink: 0;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item .descricao {
    padding: 0px;
    text-align: center;
}

.gallery-item .descricao h3 {
    text-align: center;
    margin: 3px;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.gallery-item .descricao a {

    margin: 8px;
    font-size: 14px;
    color: var(--cor1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/*  ===========================================
    |parte que FICA NA DIV e abaixo da imagem|
    ==========================================  */

    h4{
        color: var(--cor1);
        padding: 0px;
        margin: 0px;
    }
    

.animesroll{
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.rinecloud{
    font-weight: bold;
    color: rgb(0, 255, 0);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.anitube{
    font-weight: bold;
    color: rgb(255, 230, 0);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.animefire{
    font-weight: bold;
    color: rgb(174, 0, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

a>p:hover{
    text-decoration: underline 
}

/*=============================
parte da volta pra tela inicial
===============================*/

.link-volta{
    text-align: center;
    text-decoration: none;
    color: var(--cor2);
    padding-top: 50px;
}

/*==============
    footer
==============*/
footer{
    display: block;
    background-image: linear-gradient(to bottom, var(--corfundo),var(--corfundo), var(--cor5), var(--cor4));
}
footer>p{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: .8em;

}
.sugestão{
    display: block;
    text-align: left;
    font-size: .7em;
    color: #c5cbdf;
    padding-bottom: 0px;
    padding-left: 95px;
}

.sugestão > a{
    color: var(--cor1);

}

.sugestão > a:hover{
    background-color: var(--cor1);
    color: black;
    padding-left: 6px;
}

/*.github{
    color: var(--cor2);
    text-align: right;
    display: block;
    text-decoration: none;
    padding-right: 95px;
}
*/
img{

    margin: right;
}

